* {
	margin: 0px;
	padding: 0px;
}
@font-face {
	font-family: "unidogs";
	src: url("unidogs.ttf");
}
#cabecera {
	width: 96%;
	height: 200px;
	background: -webkit-linear-gradient(left, #FA984C 5%, #FFFFFF 50%);
}
#logo {
	float: left;
	width: 30%;
	height: 90%;
	margin: 5px;
	padding: 10px 0px 0px 0px;
}
#leyenda {
	float: left;
 	width: 30%;
 	height: 90%;
 	margin: 5px;
 	padding: 15px 0px 0px 0px;
}
#fotoperro{
	float: left;
 	width: 30%;
 	height: 90%;
 	margin: 5px;
}
.restore {
	clear: both;
}
#logo h1 {
	font-family: unidogs;
	font-size: 150px;
	text-align: center;
	color: white;
}
#leyenda h2 {
	font-family: Arial;
	font-size: 26px;
	text-align: center;
	color: #DD6508;
	font-style: oblique;
}
#menuprincipal {
	width: 96%;
	height: 50px;
	padding: 0% 2%;
	background-color: #DD6508;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	margin-top: 4px;
}
#menuprincipal > div {
	width: 960px;
	margin: 0px auto;
}
#menuprincipal li {
	display: inline-block;
	height: 35px;
	padding: 15px 10px 0px 10px;
	margin-right: 5px;
}
#menuprincipal li:hover {
	background-color: #6FACC6;
}
#menuprincipal a {
	font: bold 18px Arial, sans-serif;
	color: #333333;
	text-decoration: none;
}